{% extends "maintemplate.html" %}

{% block title %}Flowers{% endblock %}

{% block content %}
<body style="background-color: rgba(192,238,227,0.54)">

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Flower Name
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

          {% for i1, i2, i3 in itemsFlowers %}
            <a class="dropdown-item" href="#">{{ i3 }}</a>
          {% endfor %}

      </div>
    </div>


</body>

{% endblock %}