{% extends "maintemplate.html" %}

{% block title %}Flowers{% endblock %}

{% block content %}
<body style="background-image: url('static/fl4.jpeg');  background-size: cover; background-position: center center;">
<!----<body style="background-color: rgba(49,73,147,0.63)">--->

<div class="container-fluid">
    <div style="padding-top: 100px; padding-left: 70px">
    <div class="card">
        <div class="card-body">
        <h5>Query</h5>
        <p><b>To see 10 most recent sightings, Choose the flower of interest: </b></p>


            <form action="/select_flower" method="post">

            <!---<div class="dropdown"> -->

                <select name="sel_Flower" id="flowers_Dropdown" onchange="runFlower_Select()">
                      <div class="dropdown-menu" aria-labelledby="flowers_Dropdown_Button">

                          {% for i1, i2, i3 in itemsFlowers %}
                            <!---<a class="dropdown-item" href="#" id="selected_Flower" > -->
                                <option value="{{ i3 }}" >{{ i3 }}</option>
                            <!---</a> -->
                          {% endfor %}

                      </div>
                </select>

            <!---</div> -->

            <input type="submit" button type="button" class="btn btn-info">
            </input>

            </form>

            <!-------->
            <div style="padding-top: 15px">
            <hr>
                </div>
            <h5>Modifications</h5>

            <!--This needs to be POSTED INPUT variables that is read into the map-->
            <p><b>To Update an existing flower: </b></p>
            <form action="/updated_flower" method="post">
                    <button type="button" class="btn btn-warning">Update</button>
            </form>

            <p><b>To Insert a new flower: </b></p>
            <form action="/insert_flower" method="post">
                    <!--Insert: Requires 3 input text boxes-->
                    <p>Please enter the new flower's: </p>
                    <p>Genus:
                    <input type="text" name="in_genus"></input> </p>

                    <p>Species:
                    <input type="text" name="in_species"></input> </p>

                    <p>Common Name:
                    <input type="text" name="in_comname"></input> </p>


                    <button type="button" class="btn btn-success">Insert</button>
            </form>


            <!--DELETE: In HTML Select Options-->
            <div style="padding-top: 50px">
                <input type="text" id="flowerSelect" placeholder="Get value on option select" style="padding-left: 15px"><br>
            </div>



        </div>
    </div>
    </div>
</div>




    <!--DELETE-->
    <script>
        function runFlower_Select() {
            document.getElementById("flowerSelect").value = document.getElementById("flowers_Dropdown").value;
        }
    </script>


</body>

{% endblock %}