{% extends "maintemplate.html" %}

{% block title %}Home{% endblock %}

{% block content %}
     <!-- Navbar -->
          <!-- Full Page Intro -->
          <div class="view" style="background-image: url('static/fl4.jpeg');  background-size: cover; background-position: center center;">
            <!-- Mask & flexbox options-->
            <div class="mask rgba-black-light align-items-center">
              <!-- Content -->
              <div class="container">
                <!--Grid row-->
                <div class="row">
                  <!--Grid column-->
                  <div class="col-md-12 mb-4 white-text text-center" style="margin-top: 230px;">
                      <h1 style="color: aliceblue"><b>WELCOME</b></h1>
                      <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
                      <h3 style="color: aliceblue">Southern Sierra Wildflower Club</h3>

                  </div>
                  <!--Grid column-->
                </div>
                <!--Grid row-->
              </div>
              <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
          </div>
          <!-- Full Page Intro -->
        

        <!-- Main navigation -->
        <!--Main Layout-->
        <main>
          <div class="container">
            <!--Grid row-->
            <div class="row py-5">
              <!--Grid column-->
              <div class="col-md-12 text-center">
              <p>For this assignment, you will be asked to create an interface to query and edit
                data for a SQLite database. You will use the database maintained by the imaginary Southern Sierra Wildflower Club (SSWC), an organization whose members
                are interested in observing wildflowers in their native habitat in the southern
                part of the Sierra Nevada mountains of California.</p>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>
        </main>
        <!--Main Layout-->

{% endblock %}