{% extends "maintemplate.html" %}

{% block title %}Login Success{% endblock %}

{% block content %}

    <body style="background-image: url('static/fl4.jpeg');  background-size: cover; background-position: center center;">

    <div class="container-fluid">
        <div style="padding-top: 100px; padding-left: 70px">
        <div class="card">
            <div class="card-body">

                <h5 style="padding-bottom: 20px">Welcome back, {{ query_name }} !</h5>

                <div class="card text-white bg-success mb-3" style="max-width: 22rem;">
                  <div class="card-body">
                    <p class="card-text">Login Successful!</p>
                  </div>
                </div>

                <p>Go to the <a href="/flowers"><b>Flowers Page</b></a> to get started viewing and adding flower sightings!</p>


            </div>

        </div>

        </div>

    </div>
    </body>

{% endblock %}
