{% extends "maintemplate.html" %}

{% block title %}Login Failure{% endblock %}

{% block content %}
<body style="background-image: url('static/fl4.jpeg');  background-size: cover; background-position: center center;">

<div class="container-fluid">
    <div style="padding-top: 100px; padding-left: 70px">
    <div class="card">
        <div class="card-body">
            <div class="alert alert-danger" role="alert">
              Unsuccessful login, please try again:
            </div>

            <a href="/login">Log In</a>


        </div>
    </div>
    </div>
</div>
</body>
{% endblock %}