{% extends "maintemplate.html" %}

{% block title %}Sign Up Complete!{% endblock %}

{% block content %}

    <body style="background-image: url('static/fl4.jpeg');  background-size: cover; background-position: center center;">

    <div class="container-fluid">
        <div style="padding-top: 100px; padding-left: 70px">
        <div class="card">
            <div class="card-body">


            <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 500px;">
                <h4 class="card-title mt-3 text-center">Welcome to SSWC!</h4>

                <div class="alert alert-success" role="alert">
                    <p class="card-text">Account successfully created!</p>
                </div>

                <p class="text-center">Now login to continue!</p>

                <p class="text-center"> <a href="/login">Log In</a> </p>

            </article>

            </div>

            </div>

        </div>

        </div>
    </div>
    </body>

{% endblock %}
